<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Perfil</title>
</head>

<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Perfil do usuário</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nome: <input type="text" id="nome" size="50" /></td>
                </tr>
                <tr>
                    <td align="left">Telefone: <input type="text" id="telefone" /></td>
                </tr>
                <tr>
                    <td align="left">Login: <input type="text" id="login" /></td>
                </tr>
                <tr>
                    <td align="left">Senha: <input type="password" id="senha" /></td>
                </tr>
                <tr>
                    <td align="left">Confirma senha: <input type="password" id="csenha" /></td>
                </tr>
                <tr>
                    <td align="right"><input type="button" value="Atualizar" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>